#Remove DS_Store items form git

.DS_Store
**/.DS_Store




android-project/app/src/main/AndroidManifest.xml

android-project/app/src/main/res/menu/new_location_menu.xml

android-project/app/src/main/res/drawable-v21/ic_menu_manage.xml
