<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulisboa.tecnico.ist.cmu.locmess"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature
        android:name="android.hardware.internet"
        android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher2"
        tools:replace="android:icon"
        >

        <activity
            android:name=".MainActivity"
            android:theme="@style/NoactionbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MyProfile"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="My Profile"></activity>
        <activity
            android:name=".LocationsMenuActivity"
            android:label="@string/title_activity_locations_menu"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".MyMessagesMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".LocationsMenuActivity"/>

        <activity android:name=".NewMessageActivity"/>

        <activity android:name=".SelectPolicyActivity"/>

        <activity android:name=".AddLocationActivity"/>

        <activity
            android:name=".EditPolicyActivity"
            android:parentActivityName=".NewMessageActivity"
            android:label="@string/title_activity_edit_policy"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
        <service android:name="pt.inesc.termite.wifidirect.service.SimWifiP2pService" />
        <service android:name="pt.ulisboa.tecnico.ist.cmu.locmess.services.MessageNotificationService" android:process=":remote" />

    </application>

</manifest>