<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulisboa.tecnico.ist.cmu.locmess">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature
        android:name="android.hardware.internet"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoactionbarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MyProfile"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="My Profile"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".LocationsMenuActivity"
            android:label="@string/title_activity_locations_menu"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".MyMessagesMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".NewMessageActivity"/>

        <activity android:name=".SelectPolicyActivity"/>

        <activity android:name=".AddLocationActivity"/>

        <activity
            android:name=".EditPolicyActivity"
            android:parentActivityName=".NewMessageActivity"
            android:label="@string/title_activity_edit_policy"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>

    </application>

</manifest>